body{
    background-color: black;
}

.galeria{
    width: 100%;
}

.galeria img{
    width: 300px;
    margin: 20px;
    padding: 5px;
    border: 1px solid gray;
    opacity: .4;
    vertical-align: top;
}

.galeria img:hover{
    opacity: 1;
    border: 1px solid white;
}

.redes-sociales{
    background-color: antiquewhite;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    height: 35px;
    text-align: center;
}

.redes-sociales a{
    color: blue;
}

.redes-sociales a:hover{
    color: white;
}